* {
    margin: 0;
    padding: 0;
  }
  
  html,
  body {
    overflow: hidden;
  }
  
  .webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
  }

  main {
    height: 100vh;
    /* display: flex;
    align-items: center; */
    margin-top: 4rem;
    z-index: 10;
    position: relative;
}

  .carousel-caption{
    background: rgb( 3, 3, 5, 20% );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 8px );
-webkit-backdrop-filter: blur( 8px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
  }

  .carousel-wrapper {
    margin-top: -10rem;
    max-width: 1000px;
    margin: auto;
  }

.carousel-indicators {

  margin-bottom: 1.6rem;
}

.dg {  
  z-index: 1000;

}